*{
    font-size: 20px;
}

.container{
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    position: relative;
}

.barra_busqueda{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-add{
    width: 100px;
    height: 40px;
    background-color: #575C3E;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.ipt-search{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.btn-search{
    width: 100px;
    height: 40px;
    background-color: #575C3E;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container-resena{
    width: 1100px;
    height: 550px;
    position: absolute;
    bottom: 0;
    left: 3%;
    background-color: #151515;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

hr{
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 0;
}

.titulo-container{
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    font-size: 40px;
}

.container-resenia_child{
    width: 50;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.fila1{
    display:flex;
    justify-content:space-between;
    width: 100%;
    height: 50%;
}

.fila2{
    display:flex;
    justify-content:space-between;
    width: 100%;
    height: 50%;

}

.resenia{
    width: 50%;
    height: 50%;
    display: flex;
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}

.buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.btn-edit, .btn-delete{
    margin: 5px;
    width: 100px;
    height: 40px;
    background-color: #575C3E;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    left: 10px;
    top: 10px;
}